body {
  font-family: "Karla", sans-serif;
  background-color: #7e3a4f;
}

.container {
  width: 960px;
  height: 960px;
  margin: 50px auto;
  background-color: aliceblue;
}

.logo {
  display: flex;
  margin: 0 auto;
  width: 20%;
  height: 20%;
}

.header {
  position: relative;
  margin: 0 auto;
  top: 30px;
}

.header-heading {
  border: 8.5px outset pink;
  outline: 10.5px solid khaki;
  box-shadow: 0 0 0 24px darkseagreen;
  border-radius: 12px;
  font-size: 30px;
  text-align: center;
  margin: 80px;
  padding: 20px;
}

.budget {
  display: flex;
  padding: 50px;
}

.inputContainer {
  margin: 0 30px;
  padding: 10px;
}

.incomeWrapper,
.expenseWrapper {
  display: flex;
  align-items: center;
}

.space {
  margin-right: 10px;
}

#amountIncome,
#amountExpenses {
  width: 100px;
}

.inputP {
  color: green;
}

.expenseP {
  color: red;
}

.inputP,
.expenseP {
  font-size: 20px;
}

.btnAddIncome,
.btnAddExpense {
  border: 3px outset #7e3a4f;
  background-color: goldenrod;
  font-size: 14px;
  line-height: 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 3px;
}

.btnAddIncome:hover,
.btnAddExpense:hover {
  background-color: #f082ac;
}

.editButton,
.deleteButton,
.editButtonExp,
.deleteButtonExp {
  justify-content: space-between;
  border-radius: 8px;
  margin-left: 5px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.editButton,
.deleteButton {
  background-color: lightpink;
}

.editButtonExp,
.deleteButtonExp {
  background-color: rgb(224, 201, 142);
}
